*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
body{
    min-width: 100vw;
    position: relative;
    display: block;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}
.nav-links ul li a{
    color: black !important;
}
.page1{
    height: 100vh;
    background-image: url("./img/bgc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about-details2{
    color: white;
    width: 35%;
    display: inline-block;
    text-align: left;
    font-size: 22px;
}
.about-details1{
    color: white;
    display: inline-block;
    width: 35%;
}
.about-details1 h1{
    font-size: 52px;
    text-align: left;
    
    display: inline-block;
}
.page2{
    min-height: 100vh;
    background-image: url("./img/japanese.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.text-side{
    color: white;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    font-size: 22px;

}
.videos-side{
    width: 35%;
}
.page3{
    min-height: 100vh;
    background-image: url("./img/tokyo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    color: white;
}
.vision_mission{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.mission, .vision{
    padding: 20px;
    width: 500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
}
.mission p, .vision p{
    display: inline-block;
    text-align: center;
}
.page3 p{
    width: 60%;
}
.page4{
    min-height: 100vh;
    background-image: url("./img/korea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    color: white;
    padding: 0px 450px;
}
.pge4 p{
    font-size: 19px;
}
.page4 h3{
    font-size: 32px;
}
footer{
    height: 50px;
    color: white;
    background-color: black;
    width: 100%;
    text-align: start;
    padding-top: 20px;
    padding-left: 20px;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: transform 1.5s, opacity 1.5s, filter 1.5s, translate 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0);
}
.slide{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}
.about-details2{
    transition-delay: 200ms;
}
.video-side{
    transition-delay: 200ms;
}
.mission{
    transition-delay: 200ms;
}
.vision{
    transition-delay: 400ms;
}
#inner-div{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
@media (max-width: 992px){
    header{
        justify-content: space-around;
    }
    .toggle-btn{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .dropdown_menu{
        display: block;
    }
    
    .page1{
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
    .about-details1{
        padding: 20px;
        width: 100%;
        text-align: center;
    }
    .about-details1 h1{
        font-size: 42px;
        text-align: center;
    }
    .about-details2{
        width: 100%;
        padding: 20px;
    }
    .about-details2 p{
        font-size: 18px;
        text-align: center;
    }
    #inner-div{
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
    }
    .text-side{
        padding: 20px;
        width: 100%;
        text-align: center;
    }
    .text-side h3{
        font-size: 22px;
    }
    .text-side p{
        font-size: 16px;
    }

    .video-side{
        padding: 20px;
        width: 100%;
        text-align: center;
    }
    .video-side iframe{
        width: 100%;
        height: fit-content;
    }
    .page3{
        padding: 20px;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
    .page3 p{
        font-size: 14px;
        width: 100%;
    }
    .vision_mission{
        width: 100%;
        flex-wrap: wrap;
    }
    .page4{
        padding: 20px;
    }
    .page4 h3{
        font-size: 30px;
    }
    .home6{
        width: 100%;
        padding: 20px !important;
    }
    .home6 span{
        font-size: 20px;
    }
    .home6, .home6 label{
        font-size: 11px;
    }
    .contact iframe{
        width: 100%;
    }
    footer{
        font-size: 12px;
    }
    
}
