@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
body{
    min-width: 100vw;
    position: relative;
    display: block;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}
.banner{
    background-image: url(./img/philippines.jpg);
    height: 35vh;
    text-align: center;
    background-position: center;
}
.banner h3, .banner p, .banner button{
    top: 50%;
    position: relative;
    color: #fff;

}

.background-tint {
    background-color: rgba(32, 32, 32, 0.5);
    background-blend-mode: multiply;
}
.nav-links ul li a{
    color: rgb(0, 0, 0) !important;
}
.content{
    min-height: fit-content;
    margin: 0 15%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
}
.testimonial{
    color: #303030;
    width: 300px;
    min-height: 200px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: spacebetween;
}
.rating{
    text-align: left;
}
.rating span{
    height: 10%;
    margin-right: 10px;
}
.message{
    height: 60%;
    text-align: left;
}
.customer-name{
    height: 10%;
    margin-top: 5px;
    font-weight: bold;
}
.date{
    height: 10%;
}
.checked{
    color: orange;
}
.home6{
    min-height: 100vh;
    background-image: url("./img/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 100px;
}
.touch-container{
    text-align: start;
    width: 72%;
}
#text-div{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}
.home6 span{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin: 0 10px;
}
.home6 p{
    font-size: 24px;
    color: white;
}
.button{
    font-size: 20px;
    margin-top: 15px;
    border-radius: 12px;
    padding: 15px 50px;
    border: none;
    color: white;
    background-color: #d7263d;
    cursor: pointer;
    transition: all 0.5s;
}
.button:hover{
    background-color: #ffffff;
    color: black;
    transform: translateY(-5%);
}
.background-tint {
    background-color: rgba(32, 32, 32, 0.5);
    background-blend-mode: multiply;
}
.background-tint-dark {
    background-color: rgba(32, 32, 32, 1);
    background-blend-mode: multiply;
}
.flex{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.flex-main-between{
    justify-content: space-around;
}
.flex-center{
    justify-content: center;
}
footer{
    height: 50px;
    color: white;
    background-color: black;
    width: 100%;
    text-align: start;
    padding-top: 20px;
    padding-left: 20px;
}

@media (max-width: 992px){
    header{
        justify-content: space-around;
    }
    .toggle-btn{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .dropdown_menu{
        display: block;
    }
    .testimonial{
        width: 100%;
    }
    .content{
        
        margin: 0 10px;
    }
    .home6{
        width: 100%;
        padding: 20px !important;
    }
    .touch-container{
        text-align: center;
    }
    #text-div{
        flex-direction: column;
        justify-content: center;
    }
    #text-div span{
        font-size: 40px;
    }
    .touch-container .button{
        padding: 0.6em 1.2em;
    }
    footer{
        font-size: 12px;
    }
}