@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    
  }
  body{
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    overflow-x: hidden;
  }
header{ 
    
    /* border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 2.5% 5%;
    width: 90%;
    position: fixed; */
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    justify-self: center;
    transition: 0.6s;
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
    z-index: 999;
    
}
.scrolled{
    background-color: white;
    color: black;
    top: 0;
    margin: 0;
    border-radius: 0;
    width: 100%;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}
.nav-item-scrolled{
    color: black;
}
header img{
    width: 60px;
    object-fit: cover;
}
header ul li{
    list-style: none;
}
header ul li a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.3s;
}
header ul li a:hover{
    color: #d7263d;

}
.background-tint {
    background-color: rgba(200,100,0,0.9);
    background-blend-mode:overlay;
  }
.home{
    background-image: url("./img/pic1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
}
#button{
    margin-top: 15px;
    border-radius: 30px;
    padding: 10px 35px;
    border: none;
    color: white;
    background-color: #d7263d;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 18px;
}
#button:hover{
    background-color: #ffffff;
    color: black;
    transform: translateY(-5%);

}

.home h1{
    font-size: 62px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    position: relative;
    top: 40%;
}
.home h2{
    color: #fff;
    margin: 0;
    
    letter-spacing: 0.2rem;
    position: relative;
    top: 40%;
}
.home p{
    color: #fff;
    margin: 0;
    position: relative;
    letter-spacing: 0.2rem;
    top: 40%;
    font-size: 26px;
}
.home button{
    position: relative;
    top: 40%;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 30px;
    padding: 15px 50px;
    border: none;
    color: white;
    background-color: #d7263d;
    cursor: pointer;
    transition: all 0.5s;
}
.home button:hover{
    background-color: #ffffff;
    color: black;
    transform: translateY(-5%);
}
.home-content:nth-child(1){
    transition-delay: 1ms;
    transition-property: opacity;
}
.home-content:nth-child(2){
    transition-delay: 200ms;
    transition-property: opacity;
}
.home-content:nth-child(3){
    transition-delay: 400ms;
    transition-property: opacity;
}
.home-content:nth-child(4){
    transition-delay: 800ms;
    transition-property: opacity;
}

.home2{
    height: 100vh;
    background-image: url("./img/pic2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span{
    display: inline;
}
.home2 h1, .home2 span{
    font-size: 52px;
    color: #fff;
    letter-spacing: 1rem;
    
}
.home2 p{
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0rem;
    
}


.home3{
    background-color: white;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home3 h1{
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.4rem;
    
}
.home3 p{
    font-size: 16px;
    color: #000000;
    
}

.card-showcase{
    width: 250px;
}
.card-showcase:hover{
    translate: 0px -20px;
}
.card-showcase:nth-child(1){
    transition-delay: 0ms;
    transition-property: transform, opacity, filter;
}
.card-showcase:nth-child(2){
    transition-delay: 200ms;
    transition-property: transform, opacity, filter;
}
.card-showcase:nth-child(3){
    transition-delay: 400ms;
    transition-property: transform, opacity, filter;
}
.card-showcase:nth-child(4){
    transition-delay: 600ms;
    transition-property: transform, opacity, filter;
}
.card-showcase:nth-child(5){
    transition-delay: 800ms;
    transition-property: transform, opacity, filter;
}
.card-showcase:nth-child(6){
    transition-delay: 1000ms;
    transition-property: transform, opacity, filter;
}
.card-showcase:nth-child(7){
    transition-delay: 1200ms;
    transition-property: transform, opacity, filter;
}
.flex{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.flex-main-between{
    justify-content: space-around;
}
.flex-center{
    justify-content: center;
}
.image{
    margin: 0 0 30px;
}
.image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.description{
    min-height: fit-content;
    border-left: 3px solid red;
}
.services{
    width: 1200px;
}
.feedback-container:nth-child(2){
    transition-delay: 200ms;
}
.feedback-container:nth-child(3){
    transition-delay: 400ms;
}
.home4{
    background-image: url(./img/home1.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home5{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.feedback-container{
    background-color: #d7263d;
    width: 200px;
    height: 350px;
    padding: 20px;
    border-radius: 20px;
    color: white;
}
.home6{
    min-height: 100vh;
    background-image: url("./img/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 100px;
}
.home6 span{
    font-size: 42px;
    font-weight: 600;
    color: #fff;
}
.home6 p, .home6 label{
    color: #fff;
    font-size: 16px;
}
.form, .contact{
    text-align: start;
}
input, textarea, select{
    box-sizing:border-box;
    width: 100%;
    padding: 0.6em 0.3em;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.3em;
    color: #ffffff;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
    resize: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
}
input[type='submit']{
    background-color: #d7263d;
    color: white;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}
input[type='submit']:hover{
    background-color: #d36473;
}
input:focus, textarea:focus{
    border: 1px solid #d0d0d0;
}
select{
    color: #d0d0d0;
}
footer{
    height: 50px;
    color: white;
    background-color: black;
    width: 100%;
    text-align: start;
    padding-top: 20px;
    padding-left: 20px;
}
.background-tint {
    background-color: rgba(32, 32, 32, 0.5);
    background-blend-mode: multiply;
}
.background-tint-dark {
    background-color: rgba(32, 32, 32, 1);
    background-blend-mode: multiply;
}
.background-tint-gradient{
    background-image: linear-gradient(to right, rgba(255, 94, 0, 0.9) , #ffee00);
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: transform 1.5s, opacity 1.5s, filter 1.5s, translate 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0);
}
.slide{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

